body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f571;
    color: #333;
}

header {
    background-color: #e9e9e9;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

main h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

main p.lead {
    font-size: 18px;
    color: #666;
}

.card {
    margin-bottom: 30px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    color: #666;
}

.btn-outline-dark {
    border-color: #333;
    color: #333;
}

.btn-outline-dark:hover {
    background-color: #333;
    color: #fff;
}
